{% extends "!layout.html" %}
{% block content %}
<div class="admonition warning">
  <p class="first admonition-title">Warning</p>
  <p class="last">
    These docs are a work in progress, and are not ready for public consumption
    yet. Please stay tuned for a release announcement regarding these docs at
    <a href="https://forum.qiime2.org/c/announcements">
      https://forum.qiime2.org/c/announcements.
    </a>
    This banner will be removed when the announcement is made.
  </p>
</div>
{{ super() }}
{% endblock %}
